@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -155px;

}


#image-container{
position: relative;
}

#workspace-text{
    position: relative;
    left:0px;
    top: 170px;
}


#workspace-img{
    max-width: 1920px;
    z-index: -100;
    position:relative;
    width: 1380px;
}
#headerContainer{
    display: flex;
    width: 100px;
    position: relative;
    left:1000px;
    top: 200px;
    }




#my-image{
width: 18vh;
height: 18vh;
object-fit:cover;
object-position: bottom;
border-radius: 50vh;
position:absolute;
left: 550px;
top: 280px;


}
